<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Playground</title>
    <link href="../libs/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link href="../styles/main.css" rel="stylesheet">
</head>
<body>

<header class="container-fluid">
    <h1>Web Development Review</h1>
</header>



<div class="main-container" >
    <h3>Changing properties with JavaScript</h3>
    <form id="form">
        <input class="form-control width" type="number" name="width" placeholder="Width">
        <input class="form-control height" type="number" name="height" placeholder="Height">
        <a id="toggleHide" class="btn btn-default">Hide/Show</a>
        <a class="rotate-btn btn btn-default">Rotate</a>
        <a class="rotate-reset btn btn-default">Reset</a>
    </form>

    <div id="newElement">

    </div>


</div>

<footer>
    <h2>Sunny Bharadwaj</h2>
    <p class="links"><a href="#">Twitter</a></p>
</footer>





<script src="../scripts/box-transform.js"></script>
</body>
</html>