<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Geolocation API</title>
    <link href="../libs/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link href="../styles/main.css" rel="stylesheet">
</head>
<body>

<header class="container-fluid">
    <h1>Web Development Review</h1>
</header>



<div class="main-container" >
    <h3>Geo-location API</h3>
    <h4>Watch: </h4>
    <a class="start-watch btn btn-default">Start</a>
    <a class="clear-watch btn btn-default">Stop</a>

    <table class="table geo-table">
    </table>
</div>



<footer>
    <h2>Sunny Bharadwaj</h2>
    <p class="links"><a href="#">Twitter</a></p>
</footer>





<script src="../scripts/geo-location.js"></script>
</body>
</html>