<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Geolocation API</title>
    <link href="../libs/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link href="../styles/main.css" rel="stylesheet">
</head>
<body>

<header class="container-fluid">
    <h1>Web Development Review</h1>
</header>



<div class="main-container" >
    <h2>Objects and Methods. <br><small>Open Console.</small></h2>
</div>



<footer>
    <h2>Sunny Bharadwaj</h2>
    <p class="links"><a href="#">Twitter</a></p>
</footer>





<script src="../scripts/objects.js"></script>
</body>
</html>